@inject IServiceManager ServiceManager
@model OrderResultVm
<style>
   .result {
        border: 1 solid;
        margin-block: 17px;
        border: 1px solid black;
        /* justify-content: space-between; */
        /* justify-content: center; */
        padding-block: 10px;
        margin: 7px;
        /* height: 7rem; */
        padding: 18px;
        align-items: stretch;
    }

        /*.result:hover {
            background-color: #fff;
            opacity: 0.3;
        }*/

        /*.result:focus {
            background-color: #fff;
            opacity: 0.3;
        }*/
        .modal-content{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 173%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 0.3rem;
        outline: 0;
        left: -159px;
        top: 77px;
        }
        #main-column{
            background-color:burlywood;
        }
       

    .checkboxc {
       
      
        left: 1rem;
        top: 48px;
        height: 20px;
        width: 16px;
        background-color:aqua;
    }
    
    #inpu-deptservec{
        color: black;
        padding-right: 0px;
        width: 20rem;
    }
</style>

<div class="offcanvas offcanvas-end" id="offcanvasAdd">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel">إضافة خدمة - </h5>
        <button type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">

        <form method="post" id="orderResultDtos" class="add-new-record row g-2 pt-0" dir="rtl">
           
            @if (TempData["fid"] != null)
            {
             
                <input type="hidden" id="FacilityId" name="FacilityId" value="@TempData["fid"]">
            }

            <div class="col-12" id="main-column" style="background-color:aqua">
                <label class="form-label" asp-for="obj.Name"></label>
                <div class="container-lg" id="container-model">
                    <div class="row" style="background-color:aliceblue" id="row-dept">
                        @if (Model.departmentVm != null)
                        {
                            List<DepartmentDto> list = new List<DepartmentDto>();
                            list = Model.departmentVm.ToList();
                            for (int i = 0; i < list.Count(); i++)
                                                    {
                                <div class="col-12 card result result-msg">
                                    <div>
                                        <label class="form-label" style="color:#000" value="@list[i].Name" id="lable">@list[i].Name </label>
                                        <input type="radio" id="radipBtton" onclick="radioButton(@list[i].Id)" value="@list[i].Id" class="form-check-input show-msg" >
                                    </div>
                                    <div class="row" id="@list[i].Id" data-name="@list[i].Id">

                                       
                                    </div>

                                </div>

                            }
                        }






                    </div>
                    <div id="service-data" style="background-color:red"></div>
                </div>
            </div>
         
            <div class="col-sm-12">
                <label class="form-label" asp-for="orderResultVm.First().other"></label>

                <input type="text" id="other" class="form-control" name="other">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" asp-for="orderResultVm.First().Note"></label>

                <textarea type="text" id="Note" class="form-control" rows="4" name="Note"></textarea>
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-sm-12">

                <button type="submit" class="btn btn-primary d-grid w-100 mb-2 send-btn">اضافة</button>
                <button type="button" class="btn btn-label-secondary d-grid w-100" data-bs-dismiss="offcanvas">
                    إلغاء
                </button>
                <div></div>
            </div>
        </form>
    </div>
    </div>
<script src="~/js/vistresualt.js" defer  asp-append-version="true"></script>
  <script>
      function radioButton(id){
            let title = $("#lable").attr("value");
            $("#dept-name").html(title);
            getDeptservices("../OrderResult/GetDepartmentServices", id, "#"+ id);
      }

      
  </script>
 