@using Base.Repositories.Interfaces;
@model FacilityVm
@inject IFacilityTypeRepository FacilityTypeManager
@{
    var FacilityTypeList = await FacilityTypeManager.GetAll();
}
<style>
    .result {
        flex: 5;
        width: 4.5rem;
        display: flex;
        flex-flow: unset;
        margin-block: 5px;
        margin-left: 4px;
        font-size: 10px;
        justify-content: right;
        justify-content: space-between;
        padding-right: 3px;
        font-weight: bold;
        flex-basis: max-content;
    }

        .result:hover {
            background-color: #fff;
           
        }
    #importone{
        display: flex;
    }

      
</style>
<!--- Start form for Create -->

    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel"> تعديل الزيارة - </h5>
        <button type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form method="post" id="facilityEdit" class="add-new-record row g-2 pt-0">

            <div class="col-sm-12">

                <label class="form-label" asp-for="obj.FacilityTypeDto.Name"></label>
@*                <input type="hidden" id="importance" value="11" name="Importance">
*@                <input type="hidden"  value="@Model.obj.Id" name="Id">
            <input type="hidden" value="@Model.obj.communicationChannelDto.Id" name="communicationChannelDto.Id">
            <input type="hidden" value="@Model.obj.VisitDto.Id" name="VisitDto.Id">
            <input type="hidden" value="@Model.obj.VisitDto.VisitTime" name="VisitDto.VisitTime">
            <input type="hidden" value="@Model.obj.visitResultDto.Id" name="visitResultDto.Id">
                <div class="row" dir="rtl">
                    @foreach (var ftype in FacilityTypeList.Data)
                    {
                    @if (ftype.Id == Model.obj.FacilityTypeDto.Id)
                    {
                        <div id="current-ftype" class="col-4">
                            <label class="form-label"> @ftype.Name</label>
                            <input type="radio" value="@Model.obj.FacilityTypeDto.Id" name="FacilityTypeId" class="form-check-input" id="current-fTid">
                        </div>
                        <div class="py-xxl-4">
                            <input type="checkbox" id="checkBoxId" onclick="onCheckBox()"><span> هل تريد تعديل نوع المنشأه</span>
                        </div>
                    }
                    
                    <div  class="col-4 ftype">
                        <label class="form-label"> @ftype.Name</label>
                        <input type="radio" value="@ftype.Id" name="FacilityTypeId" class="form-check-input" id="fTypech">
                    </div>
                    
                   
                    }

                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.FacilityActivity"></label>

                <input type="text" id="FacilityActivity" class="form-control" name="FacilityActivity" value="@Model.obj.FacilityActivity">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.TradeName"></label>

                <input type="text" class="form-control" name="TradeName" value="@Model.obj.TradeName">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.SpecialistName"></label>

                <input type="text" class="form-control" name="specialistName" value="@Model.obj.SpecialistName">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.SpecialistAdjective"></label>

                <input type="text" class="form-control" name="specialistadjective" value="@Model.obj.SpecialistAdjective">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-12" style="background-color:aqua">
                <label class="form-label" asp-for="obj.visitResultDto.Message"></label>
                <div class="container">
                    <div class="row" style="background-color:aliceblue">

                    <div id="fuck" style="background-color:`@Model.obj.visitResultDto.Code`" onclick="getCodeValue(`@Model.obj.visitResultDto.Code`)" class="col-2 card result result-msg"
                             style=`@Model.obj.visitResultDto.Code` > 

                            <label class="form-label" style="color:#000">@Model.obj.visitResultDto.ResultType </label>
                            <input type="radio"  id="currentshow-msg" value="@Model.obj.visitResultDto.ResultType" class="form-check-input show-msg">
                            <input type="hidden" id="currentEcode" value="@Model.obj.visitResultDto.Code">
                        <input type="checkbox" id="checkImportince" onclick="onCheckImrtence()"><span> هل تريد تعديل  الاهمية</span>

                        </div>
                   
                   
                    <div id="importone" >

                    
                        <div id="fuck" onclick="getCodeValue('red')" class="col-2 card result result-msg" style="background-color:red">

                            <label class="form-label" style="color:#000">فاشلة </label>
                            <input type="radio" id="r1" value="فاشلة" class="form-check-input show-msg " >
                            <input class="Ecode" type="hidden" id="code" value="red" name="visitResultDto.Code">
                        </div>

                        <div id="fuck" onclick="getCodeValue('yellow')" class="col-2 card result  result-form " style="background-color:yellow">
                            <label class="form-label" style="color:#000"> تغير وقت الزيارة </label>
                            <input type="radio" id="msg-resonId1" value="تغير وقت الزيارة" class="form-check-input show-input-msg  msg-reson ">
                            <input type="hidden" class="Ecode" id="code" value="yellow" name="visitResultDto.Code">

                        </div>

                        <div id="fuck" onclick="getCodeValue('skyblue')" class="col-2 card result  result-form fuck" style="background-color:skyblue">
                            <label class="form-label" style="color:#000">  تستلزم التكرار  </label>
                            <input type="radio" id="r3" value="تستلزم التكرار " class="form-check-input show-input-msg  msg-reson ">
                            <input type="hidden" class="Ecode" id="code" value="skyblue" name="visitResultDto.Code" />
                        </div>

                        <div id="fuck" onclick="getCodeValue('greenyellow')" class="col-2 card result  result-msg fuck" style="background-color:greenyellow">
                            <label class="form-label" style="color:#000">  شبة ناجحة     </label>
                            <input type="radio" id="r4" value=" موافق ولكن يحتاج تفاوض" class="form-check-input show-msg">
                            <input type="hidden" class="Ecode" id="code"  name="visitResultDto.Code">
                        </div>

                        <div id="fuck" onclick="getCodeValue('lawngreen')" class="col-2 card result  result-msg fuck" style="background-color:lawngreen">
                            <label class="form-label" id="r5" style="color:#000">ناجحة</label>
                            <input type="radio" value="تم تقديم الطلب" class="form-check-input  show-msg">
                            <input class="Ecode" type="hidden" id="code" value="lawngreen" name="visitResultDto.Code">
                        </div>
                    </div>
                    </div>
                  
                </div>
            </div>
            <div class="col-sm-12" id="Emessage" style="display:none">
                <label class="form-label" asp-for="obj.visitResultDto.Message"></label>
                <input type="text" id="Einput-message"  value="@Model.obj.visitResultDto.Message" class="form-control"  placeholder="اكنب سبب هنا" name="visitResultDto.Message">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>

            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.Address"></label>

                <input type="text" id="Address" class="form-control" name="Address" value="@Model.obj.Address">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.communicationChannelDto.PhoneNumber"></label>

                <input type="text" id="other" class="form-control" name="communicationChannelDto.PhoneNumber" value="@Model.obj.communicationChannelDto.PhoneNumber">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.communicationChannelDto.Link"></label>

                <input type="text" id="other" class="form-control" name="communicationChannelDto.Link" value="@Model.obj.communicationChannelDto.Link">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.other"></label>

                <input type="text" id="other" class="form-control" name="other" value="@Model.obj.other">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.communicationChannelDto.other"></label>

                <input type="text" id="other" class="form-control" name="communicationChannelDto.other" value="@Model.obj.communicationChannelDto.other">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.VisitDto.Reason"></label>

            <textarea type="text" id="other" class="form-control" rows="6" name="VisitDto.Reason">@Model.obj.VisitDto.Reason</textarea>
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" asp-for="obj.visitResultDto.Note"></label>

            <textarea type="text" id="visitResultDto-Note" class="form-control" rows="6" name="visitResultDto.Note">@Model.obj.visitResultDto.Note</textarea>
                @*<div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>*@
            </div>
            <div class="col-sm-12">

                <button type="submit" class="btn btn-primary d-grid w-100 mb-2 send-btn">اضافة</button>
                <button type="button" class="btn btn-label-secondary d-grid w-100" data-bs-dismiss="offcanvas">
                    إلغاء
                </button>
            <div></div>
            </div>
        </form>
    </div>

<script>
  $(document).ready(function(){


        $("#current-fTid").attr("name", "FacilityTypeId");
    $("#currentshow-msg").attr("name", "visitResultDto.ResultType");
    $("#currentEcod").attr("name", "visitResultDto.Code");
        if( document.getElementById("currentshow-msg")!=null){
            document.getElementById("currentshow-msg").checked = true;
        }
        if (document.getElementById("current-fTid")!=null){
            document.getElementById("current-fTid").checked = true;
        }
   
        $(".ftype").hide();
        $("#importone").hide();
 
    });
    function getCodeValue(code) {
        $("#code").val(code);
        console.log("code "+code);
      //  $("#code").attr("name", "visitResultDto.Code");
        let radios = document.querySelector(".show-msg");

        radios.checked = false;


    }
   
    
    function onCheckBox(){
       
        let ch = document.getElementById("checkBoxId").checked;
      
        if (ch) {
            $(".ftype").show();
            $("#current-ftype").hide();

            $("#fTypech").attr("name", "FacilityTypeId");
           // $("#fTypech").attr("name", "FacilityTypeId");
            document.getElementById("current-fTid").removeAttribute("name");
            $("#current-fTid").prop("checked", false);
          //  document.getElementById("current-fTid").checked = false;
            //document.querySelector(".fTypech").setAttribute("name", "FacilityTypeId");
       
        }else{
            $("#current-ftype").show();
            $(".ftype").hide();
            document.getElementById("fTypech").removeAttribute("name");
            $("#current-fTid").attr("name", "FacilityTypeId");
            $("#current-fTid").prop("checked", true);
         //   document.getElementById("current-fTid").checked = true;
        } ch != ch;
       

    }
    function onCheckImrtence(){
        let ch = document.getElementById("checkImportince").checked;
        
        if (ch) {
            $("#importone").show();
            document.getElementById("currentshow-msg").checked = false;
         

        } else {
            document.getElementById("currentshow-msg").checked = true;
            $("#importone").hide();
        } 
        ch != ch;

    }
  


    $(".show-msg").on("click", function () {
        $("#Emessage").show();
        let v = $(this).val();
       /// console.log("vvvvvvvvvv  "+v);
        //$(".Ecode").attr("name", "visitResultDto.Code");
        $(this).attr("name", "visitResultDto.ResultType");
        $("#Einput-message").val(v);
        
        document.getElementById("Einput-message").style.backgroundColor = "skyblue";
        $(this).prop("checked", true);
        //$("input[name=visitResultDto.ResultType]").prop("checked", true);
        
     



    });  
    $(".msg-reson").on("click", function () {
        $("#Emessage").show();
        let v = $(this).val();
        $(".Ecode").attr("name", "visitResultDto.Code");
        $(this).attr("name", "visitResultDto.ResultType");

        $("#Einput-message").val("");
        document.getElementById("Einput-message").style.backgroundColor = "#fff";
        $(this).prop("checked", true);
      //  $("input[name=visitResultDto.ResultType]").prop("checked", true);
        //document.getElementsByClassName("Ecode").setAttribute("name", "visitResultDto.Code");
        //document.getElementsByClassName("msg-reson").setAttribute("name", "visitResultDto.ResultType");
       
        

     


    });
</script>